<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hbvabuvette">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.HBVABuvette"
        tools:targetApi="31">
        <activity
            android:name=".VenteActivity"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".StockActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DateActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CaisseActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>